.DS_Store
.CFUserTextEncoding
.IdentityService/
.aspnet/
.bash_profile
.config/
.cups/
.dotnet/
.gitconfig
.gretl/
.gretl2rc
.jupyter/
.lesshst
.local/
.mono/
.mysql_history
.node_repl_history
.npm/
.nuget/
.packettracer
.profile
.ssh/
.templateengine/
.viminfo
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Cisco Packet Tracer 8.2.0/
Cisco Packet Tracer 8.2.1/
Desktop/
Downloads/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
VirtualBox VMs/
course.yt/
get-pip.py
git/
jbr_err_pid4395.log
mywebsite/
photoofme.jpeg
