# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# User-specific files and directories
.CFUserTextEncoding
.bash_profile
.config/
.gretl/
.gretl2rc
.jupyter/
.lesshst
.local/
.mono/
.mysql_history
.node_repl_history
.npm/
.nuget/
.packettracer
.profile
.ssh/
.templateengine/
.viminfo
.vscode/
.zprofile
.zsh_history
.zsh_sessions/

# JetBrains IDE files
.idea/

# Node.js and npm configuration
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Visual Studio Code settings
.vscode/

# macOS directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# JetBrains IDE error log
jbr_err_pid4395.log

# Other project-specific files
mywebsite/
photoofme.jpeg
